* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: monospace;
}

.cube {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: #1D222A;
  border-radius: 2px;
}

.form {
  position: absolute;
  top: 47%;
  left: 25%;
  width: 50%;
  height: auto;
  z-index: 2;
  background: white;
  border-radius: 2px;
}

.search {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 2px solid white;
  background: inherit;
  padding: 5px;
  outline: none;
  color: #D3D7CF;
  font-size: 25px;
  border-radius: 2px;
}

.search_label {
  position: absolute;
  border: none;
  outline: none;
  color: #D3D7CF;
  font-size: 25px;
  opacity: 1;
  z-index: 3;
  top: 0;
  left: 0;
  pointer-events: none;
  padding: 5px;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.search:focus ~ .search_label {
  top: -35px;
}

.help {
  color: #D3D7CF;
  padding: 5px;
  text-align: center;
}

.legals, .owner {
  font-size: 10px;
  position: absolute;
  color: #D3D7CF;
  bottom: 5px;
}

.legals a, .owner a {
  color: #1D222A;
  text-decoration: none;
  font-weight: 900;
}

.legals  {
  right: 5px;
}

.owner  {
  left: 5px;
}
